*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body{
    font-family: 'raleway';
    height: auto;
    width: 100%;
}

a,
a:hover,
a:active,
a:visited,
a:target,
a:link{
    text-decoration: none;
}

#main{
    position: relative;
    z-index: 0;
    height: 1200px;
    overflow: hidden;
    background: url(../img/Samori-3.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#main::before{
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    -webkit-filter: blur(20px) contrast(0.6);
    filter: blur(20px) contrast(0.6);
}

#main .row{
    position: relative;
    top: 50px;
    left: 0;
    z-index: 1000;
    color: white;
}

#main .title,
#main .subtitle{
    font-family: 'raleway';
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.2em;
}

.link-cont{
    padding: 60px 0;
}

.link a{
    border: 1px solid white;
    padding: 10px 0;
    font-size: 1.2em;
    background-color: transparent;
    color: white;
    transition: 0.5s;
}

.link a:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.rrss{
    padding: 20px 0;
    border: 1px solid white;
    margin-bottom: 40px;
}

.rs a{
    font-size: 2em;
    color: rgba(255,255,255,0.5);
    transition: 0.5s;
}

.rs a:hover{
    color: white;
    transition: 0.5s;
}

@media only screen and (max-width:1280px) {
    #main{
        height: 800px;
    }
}

@media only screen and (max-width:992px) {
    #main{
        height: 1024px;
    }
    
    .link{
        margin-bottom: 20px;
    }
    
    .link:last-child{
        margin-bottom: 0;
    }
    
    .rrss{
        margin-bottom: 100px;
    }
}

@media only screen and (max-width:768) {
    #main{
        height: 1200px;
    }    
}

